@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500;700&display=swap");
:root {
  --bs-secondary-rgb: rgb(39, 53, 90) !important;
  --lg-font: "Cairo", sans-serif !important;
  --sm-font: "Poppins", sans-serif !important;
  --main-color: #1d709d !important;
  --second-color: #767c7e !important;
  --gold-color: #8e7e71 !important;
  --light-color: #256d85 !important;
  --lighter-color: #8fe3cf !important;
  --font-color: #fff !important;
  --btn-color: #27355a !important;
  --bg-main: #ddd !important;
}

body {
  font-family: var(--lg-font);
  background-color: #ddd !important;
  z-index: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--lg-font) !important;
}

/* .carousel-item img {
  height: 500px;
  object-fit: cover;
} */

button img {
  height: 20px;
}
.swiper-bg{
 background-color: #0B3040;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23032a3f' fill-opacity='0.4'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");

}

.images-bg{
background-color: #0B3040;

}
.image-project{

border-radius:25px;

}
.images-slider{
border-radius:25px;
box-shadow:2px 2px 2px rgba(1,1,1,0.5);
}
.carousel-indicators button {
  margin-left: 50px;
  position: relative;
}
.text-custom {
  color: rgb(39, 53, 90) !important;
}
.text-customDark {
  color: rgb(148 177 255) !important;
}
.card {
  background-color: rgb(39, 53, 90) !important;
  border:3px solid var(--main-color) !important;
}
.image-container {
  overflow: hidden;
}
.video{
height:250px;

}

.aboutProject{
position:relative;
top:-70px;

right:-40px;
  background-color: rgb(39, 53, 90) 

}

.aboutProject1{
position:relative;
top:-280px;

right:-40px;
  background-color: rgb(39, 53, 90) 

}

.aboutProjectEN{
position:relative;
top:-70px;

left:-40px;
  background-color: rgb(39, 53, 90) 

}

.aboutProject1EN{
position:relative;
top:-280px;

left:-40px;
  background-color: rgb(39, 53, 90) 

}
.btn-brucher{
background-color:var(--second-color) !important;
color:white !important;

}
.bg-custom2 {
  background-color: rgb(102, 118, 163) !important;
}
.bg-custom {
  background-color: rgb(39, 53, 90) !important;
}

.bg-transparent {
  background-color: transparent !important;
  border: 0;
}
.card img:hover {
  transform: scale(1.1);
  transition: transform 1s;
  overflow: hidden !important;
  object-fit: contain;
}
.card-body{

background-color:var(--second-color)

}
.sliderImgAuto {
  object-fit: contain;
  max-height: 500px;
}

.btn-outline-primary:hover {
  background-color: transparent !important;
  color: rgb(39, 53, 90) !important;
  border-color: rgb(39, 53, 90) !important;
}
.btn-outline-primary {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(39, 53, 90) !important;
  border-color: rgb(39, 53, 90) !important;
}
.btn-outline-primaryD:hover {
  background-color: transparent !important;
  color: rgb(106, 143, 245) !important;
  border-color: rgb(106, 143, 245) !important;
}
.btn-outline-primaryD {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(39, 53, 90) !important;
  border-color: rgb(39, 53, 90) !important;
}

/* @media (max-width: 425.99px) {
  iframe {
    width: 200px;
    height: 100px;
  }
}

@media (min-width: 426px) and (max-width: 768.999px) {
  iframe {
    width: 300px;
    height: 150px;
  }
}

@media (min-width: 769px) {
  iframe {
    width: 500px;
    height: 250px;
  }
} */

iframe {
  width: 100%;
  height: 100%;
}

.details-title {
  background-color: var(--btn-color);
  border: 3px solid var(--gold-color);
}

.btnTransparent {
  border: 0 !important;
  background-color: transparent !important;
  padding: 0px !important;
}
.direction {
  direction: ltr;
}


.card{
border-radius:25px;
overflow:hidden;

}
