.cardEdit {
  width: 100% !important;
  max-width: 100% !important;
}

.cardEditMain {
  background-color: transparent !important;
  border: 3px solid rgb(39, 53, 90) !important;
}

.btnImg {
  position: absolute;
  top: 40%;
  left: 40%;
}
