.carousel-captionAR {
  top: 15% !important;
  bottom: 15% !important;
  left: 45% !important;
  right: 15% !important;
}
.carousel-captionEN {
  top: 15% !important;
  bottom: 15% !important;
  left: 15% !important;
  right: 45% !important;
}
